.doctor-extra-info-container {
    padding-left: 15px;

    .content-up {
        .text-address {
            text-transform: uppercase;
            color: #333;
        }

        .name-clinic {
            font-weight: 600;
            color: #333;
        }

        .detail-address {
            font-weight: 600;
            color: #333;
        }
    }

    .content-down {
        .short-info {
            .detail {
                cursor: pointer;
                color: #45c3d2;
            }

            .currency {
                margin: 0 6px;
            }
        }
        .title-price {
            margin-bottom: 15px;
        }

        .detail-info {
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f8f8f8;

            .price {
                padding-bottom: 8px;
                .right {
                    float: right;
                }
            }
            .note {
                
            }
        }

        .payment {
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #eee;
        }

        .hide-price {
            margin-top: 10px;

            span {
                cursor: pointer;
                color: #45c3d2;
            }
        }
    }
}