.profile-doctor-container {
    .price {
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .intro-doctor {
        display: flex;

        .content-left {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        .content-right {
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-weight: 600;
            }

            .down {
                text-align: justify;
            }
        }
    }
    .view-detail-doctor{
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 1px 6px #20212447;
        border-radius: 8px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}